# VSCode settings
.vscode

# Build files
build/
BuildMinGW/
BuildGCC/
BuildGCCDebug/
BuildMSVC/
Debug/
Release/

# Internal
ignore/

# Binary artifacts
wfx
wfx.toml
toolchain.toml

# Python env
.venv/