name: WFX Linux Build

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev, main]

jobs:
  ci_filter:
    uses: ./.github/workflows/ci_filter.yml

  build:
    name: Linux (${{ matrix.compiler }})
    needs: ci_filter
    if: needs.ci_filter.outputs.should_run == '1'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - compiler: gcc
            cc: gcc
            cxx: g++
          - compiler: clang
            cc: clang
            cxx: clang++

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential clang ninja-build

    # Save the entire build directory cuz i cannot waste github run 'time', i'm poor
    - name: Restore build/ cache
      uses: actions/cache@v3
      with:
        path: build
        key: build-${{ matrix.compiler }}-${{ hashFiles('**/CMakeLists.txt', 'cmake/*.cmake') }}
        restore-keys: |
          build-${{ matrix.compiler }}-

    - name: Configure
      run: |
        cmake -S . -B build -G Ninja \
          -DCMAKE_C_COMPILER=${{ matrix.cc }} \
          -DCMAKE_CXX_COMPILER=${{ matrix.cxx }} \
          -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build

  # Collector
  ci-success:
    name: WFX Linux Build Success
    runs-on: ubuntu-latest
    if: always()
    needs: [build, ci_filter] # Wait for the 'build' matrix to finish and 'ci_filter' output
    steps:
      - name: Check Status
        run: |
          # If filter returned 0, we skipped build, treat as success
          if [[ "${{ needs.ci_filter.outputs.should_run }}" == "0" ]]; then
            echo "Build skipped by filter. Marking as success."
            exit 0
          fi

          # If we ran, check for failures in the matrix
          if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "Build matrix failed."
            exit 1
          fi

          echo "All builds passed!"